/* Container for the form */
.emailSentMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#a2afc2, #d6d0db, #a2afc2);
    margin: 0;
    padding: 0;
  }
  
/* Heading text */
.emailSentMessageHeading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
}