/* Container for the form */
.forgotPassContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#a2afc2, #d6d0db, #a2afc2);
    margin: 0;
    padding: 0;
  }
  
  /* Form box */
  .forgotPassForm {
    background-color: #fff;
    padding: 72px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  /* Heading text */
  .forgotPassHeading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  /* Description text */
  .forgotPassDescription {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  /* Email label */
  .label {
    display: block;
    font-size: 16px;
    color: #333;
    text-align: left;
    margin-bottom: 8px;
  }
  
  /* Input field */
  .forgotPassInput {
    width: 100%;
    padding: 12px;
    margin: 16px 0;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    display: block;
  }
  
  /* Send button */
  .sendButton {
    width: 107%;
    padding: 12px;
    margin-top: 24px;
    border-radius: 24px;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
  }
  
  .sendButton:hover {
    background-color: #444;
  }
  